@if (string.IsNullOrEmpty(Session["UserID"] as string))
{

    Html.Action("home_", "My");
}
@{
    ViewBag.Title = "All_Data";
    Layout = "~/Views/Shared/myLayOut.cshtml";
}
<div class="container">
    @*<div class="row">
        <div class="col-md-12">

           
                <label class="form-check-label">
                   <h1 id="amount">RS --- @ViewBag.amount PKR</h1>
                    <input type="hidden" value="@ViewBag.amount" id="hiddemamount"  />
                </label>
           
            <label class="form-check-label">
                <a href="javascript:;"  id="makeorder">Make Order</a>
            </label>

           
               

        </div>

    </div>*@

</div>
<div class="container-fluid">
    <div class="row" id="products_date">

        <div class="col-md-12">




            <table  id="myTable">
                <thead>
                    <tr>
                        <th scope="col">Cart_id</th>
                        <th scope="col">Product Code</th>
                        <th scope="col">Product</th>
                        
                        <th scope="col">Dis</th>
                       
                        <th scope="col">Retail Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">imgPath</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{var a = 0; }
                    @foreach (var item in ViewBag.data)
                    {
                        a++;
                        var name = item.imgPath;
                    <tr>
                        <td>@item.AddToCart_id</td>
                        <td>@item.Product_ID</td>
                        <td>@item.Product_name</td>
                      
                        
                        <td>@item.Product_disc</td>
                       
                        <td>@item.retail_price</td>

                        <td>
                        <input type="number" id="@item.Product_ID"  placeholder="1"  readonly class="quentityInput @item.AddToCart_id" />
                            <input type="hidden" id="origionalqty_@item.Product_ID" value="@item.stock" />
                            <input type="hidden" id="runtimeqty_@item.Product_ID" value="0" />
                        
                        </td>
                      <td>@item.retail_price</td>
                       
                        <td colspan=4><img src="~/AddProducts/Image/@name" alt="~/AddProducts/Image/@name" border=3 height=100 width=100></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="javascript:;" class="addQuentity" id="@item.Product_ID">+</a>
                                <a href="javascript:;" class="minusQuentity" id="@item.Product_ID">-</a>
                                @*<button type="button" name="@item.Product_ID"  id="@item.Product_ID"  class="btn btn-primary buy_products">buy</button>*@
                                @*<a href="~/find_product/carDelete/@item.AddToCart_id">buy</a>*@
                                <a href="~/find_product/carDelete/@item.AddToCart_id">Remove</a>
                            </div>
                          
                        </td>
                        
                    </tr>

                    }
                </tbody>
            </table>


        </div>
    </div>
    <div class="row" id="category_data">

        <div class="col-md-12">




         


        </div>
    </div>
    <div class="row" id="brand_data">

        <div class="col-md-12">




       


        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">


        <label class="form-check-label">
            <h1 id="amount">RS --- @ViewBag.amount PKR</h1>
            <input type="hidden" value="@ViewBag.amount" id="hiddemamount" />
            <input type="hidden" value="@ViewBag.amount" id="Bakcuphiddemamount" />
        </label>
      @if (ViewBag.amount > 0)
      {
        <label class="form-check-label">
            
            <a href="javascript:;" class="btn btn-success" id="sumtotal">Sum Total</a>
            <a href="javascript:;" class="btn btn-success" style="display:none" id="makeorder">Make Order</a>

        </label>
        <label class="form-check-label">
           
        </label>
      }
       




    </div>

</div>
<script>
    $(".side_nave_hide").remove();

    $(document).ready(function () {


     


        $("#products_date").show();

        $("#category_data").hide();
        $("#brand_data").hide();
     
        $('.table_show').change(function () {
            debugger;
            var a = this.value;
            if (a == "products") {      

                $("#products_date").show();

                $("#category_data").hide();
                $("#brand_data").hide();
            }
            if (a == "categories") {
                $("#category_data").show();

                $("#products_date").hide();
                $("#brand_data").hide()
            }
            if (a == "brands") {
                $("#brand_data").show();

                $("#products_date").hide();
                $("#category_data").hide();
          
            }


        })
       

    })

</script>
